---
layout: default
title: show.hacker
---
<main>
	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row card-columns">

	{% assign market = 'broadway' %}
	{% assign scheduleData = site.data[market].schedule.result.extractorData.data[0].group %}
	{% assign ticketType = site.data[market].ticketType %}

	{% for show in site.data[market].shows %}

	{% assign timeZone = " 00:00:00 -0500" %}
	{% capture previewDate %}{{show.preview}} 00:00:00 -0500{% endcapture %}
	{% capture openingDate %}{{show.opening}} 00:00:00 -0500{% endcapture %}
	{% capture closingDate %}{% if show.closing %}{{show.closing}} 00:00:00 -0500{% endif %}{% endcapture %}
	
	<div class="col-lg-3 col-md-4 col-sm-5" >
		<div class="card mb-3 shadow-sm" id="show{{forloop.index}}" data-preview="{{show.preview}}" data-opening="{{show.opening}}" {% if show.closing %}data-closing="{{show.closing}}"{% endif %}>
			<div class="row no-gutters"> 
				<!-- Poster -->
				<a class="poster-link w-100 d-table position-relative" aria-disabled="true" data-toggle="modal" data-target="#show{{forloop.index}}Info">
					<img class="card-img-top grow w-100 h-50" src="/assets/uploads/{{ show.poster }}" width="230" height="355" alt="poster" />
				</a>
				<!-- Tony -->
				{% if show.tony %}<div class="badge badge-light badge-tony text-wrap position-absolute" style="top: 2em; left: 50%; transform: translateX(-50%)">TONY AWARD</div>{% endif %}
				<!-- Title -->
				<div class="card-body">
					<h5 class="card-title mb-0">{{ show.title }}</h5>
				</div>
				<!-- Tickets -->
				<div class="list-group list-group-flush w-100 ">
					{% for ticket in show.tickets %}
					<a class="list-group-item list-group-item-action" href="{{ticket.url}}">{{ticket.title}} {% include icon-{{ticket.type}}.svg %}</a>
					{% endfor %}
				</div>
				<!-- Dates -->
				<ul class="list-group list-group-flush list-dates w-100 list-group-date">
					<li class="list-group-item d-flex justify-content-between text-muted list-group-date-preview"><small >Previews:</small> <small >{{previewDate | date: "%b %-d, %Y"}}</small></li>
					<li class="list-group-item d-flex justify-content-between text-muted list-group-date-opens"><small >Opens:</small><small> {{openingDate | date: "%b %-d, %Y"}}</small></li>
					{% if show.closing %}
					<li class="list-group-item d-flex justify-content-between text-muted list-group-date-closes"><small >Closes:</small><small> {{closingDate | date: "%b %-d, %Y"}}</small></li>
					{% endif %}
				</ul>
				<!-- Modal Window -->
				<div class="modal fade" id="show{{forloop.index}}Info" tabindex="-1" role="dialog" aria-labelledby="show{{forloop.index}}InfoLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="show{{forloop.index}}InfoLabel">{{show.title}}</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<!-- Trailer -->
							<div class="modal-video w-100" style="overflow: hidden; height: 0; padding-bottom: 56.25%;">
								{% assign trailer = show.trailer | split: "v=" %}
								{% assign videoID = trailer[1] %}
								{% assign src = 'https://www.youtube.com/embed/' | append: videoID | append: '?showinfo=0&modestbranding=0&color=white&autoplay=0' %}
								<iframe width="560" height="315" data-src="{{src}}" class="js-player w-100 h-100"></iframe>
							</div>
							<div class="modal-body">
								<!-- Description -->
								<p>{{show.description}}</p>
								<p class="text-muted"><a href="https://www.google.com/maps/place/{{show.address | url_encode}}">{{ show.theater }}</a>{% if show.url %}<span class="float-right"><a href="{{show.url}}">Website</a></span>{% endif %}</p>
								<!-- Schedule -->
								<h5>Schedule</h5>
								{% for schedule in scheduleData %}
								{% if show.title == schedule.show[0].text %}
								<table class="table table-sm">
									<thead>
										<tr>
										<th scope="col">sun</th>
										<th scope="col">mon</th>
										<th scope="col">tue</th>
										<th scope="col">wed</th>
										<th scope="col">thu</th>
										<th scope="col">fri</th>
										<th scope="col">sat</th>
										</tr>
									</thead>
									<tbody>
										<tr>
										<td>{{schedule.sun[0].text | replace: ', ', '<br />' }}</td>
										<td>{{schedule.mon[0].text | replace: ', ', '<br />' }}</td>
										<td>{{schedule.tue[0].text | replace: ', ', '<br />' }}</td>
										<td>{{schedule.wed[0].text | replace: ', ', '<br />' }}</td>
										<td>{{schedule.thu[0].text | replace: ', ', '<br />' }}</td>
										<td>{{schedule.fri[0].text | replace: ', ', '<br />' }}</td>
										<td>{{schedule.sat[0].text | replace: ', ', '<br />' }}</td>
										</tr>
									</tbody>
								</table>
								{% break %}
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
		
	{% endfor %}

			</div>
		</div>
	</div>
</main>
