<head>
  <meta charset="utf-8">
  {% if page.layout == "home" %}
  <title>{{ page.title }} | {{site.description}}</title>
  {% else %}
  <title>{{ page.title }} | {{ site.title }}</title>
  {% endif %}
  <meta name="description" content="{{site.description}}">
  <meta name="keywords" content="{{site.keywords}}">
  <meta name="author" content="{{site.author.name}}">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="author" href="/humans.txt">
  <link rel="apple-touch-icon" href="/images/icon.jpg">
  <link rel="icon" sizes="192x192" href="/images/icon.jpg">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:site" content="@{{site.twitter}}">
  <meta property="twitter:creator" content="@{{site.author.twitter}}">
  <!-- Facebook -->
  <meta property="og:site_name" content="{{site.title}}">
  
  <meta property="og:type" content="article">
  <!-- Shared -->
  {% if page.layout == "home" %}
  <meta property="og:url" content="{{site.url}}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{site.socialinfo}}">
  <meta property="og:image" content="{{site.socialimage}}">
  {% elsif page.layout == "shows" %}
  <meta property="og:url" content="{{site.url}}{{page.permalink}}">
  <meta property="og:title" content="{{page.title}} | {{site.title}}"">
  <meta property="og:description" content="{{site.socialinfo}}">
  <meta property="og:image" content="{{site.socialimage}}">
  {% else %}
  <meta property="og:url" content="{{site.url}}{{page.url}}">
  <meta property="og:title" content="{{page.title}} | {{site.title}}">
  <meta property="og:description" content="{{page.description}}">
  {% if page.header and page.header !=blank and page.header != "" %}
  <meta property="og:image" content="{{site.url}}/{{page.collection}}/images/{{page.header}}">
  {% else %}
  <meta property="og:image" content="{{site.url}}/{{page.collection}}/images/{{page.poster}}">
  {% endif %}
  {% endif %}
  <!-- CSS: Main -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- Netlify CMS -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <!-- MapKit -->
  <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
</head>
