<header class="header">
    <div class="container">
        {% if page.layout == "home"%}
            <h1 class="font-weight-bold site-title">{{ site.title }}</h1>
            <div class="font-weight-bold site-tagline">{{ site.description }}</div>
            {% include filters.html %}
        {% elsif page.layout == "shows" %}
            <div class="font-weight-bold show-site-title pt-4"><a href="{{ site.url }}">◀︎ {{ site.title }}</a></div>
            <h1 class="font-weight-bold site-title">{{ page.title }}</h1>
            {% include filters.html %}
        {% else %}
            <div class="font-weight-bold show-site-title pt-4"><a href="{{ site.url }}">◀︎ {{ page.region | upcase }}</a></div>
        {% endif %}
    </div>
</header>