<script>

window.matchMedia("(prefers-color-scheme: dark)").addListener(
  e => e.matches && createMap()
);
window.matchMedia("(prefers-color-scheme: light)").addListener(
  e => e.matches && createMap()
);

createMap()

function createMap() {
    console.log("changing")
    var latitude = {{include.theater.lat}}
    var longitude = {{include.theater.long}}
    var title = "{{include.theater.title}}"
    var address = "{{include.theater.address}}"
    const tokenID = 'eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlFLVUI4NlFZQUQifQ.eyJpc3MiOiJFUkE5UzhTUE5ZIiwiaWF0IjoxNjMxMTUyMDkzLCJleHAiOjE2NjI2ODE2MDAsIm9yaWdpbiI6Imh0dHBzOi8vd3d3LnNob3doYWNrZXIuY29tIn0.zInS-RrVX8iy9WSRxKOCMDf8eVrfNTCJea7kH-fCmbfSvBLogQqld07AFbMhrSt6qzpzt7xI0h4j_blM5cgG2w'
    mapkit.init({
        authorizationCallback: function(done) {
            done(tokenID);
        }
    });
    
    const center = new mapkit.Coordinate(latitude, longitude),
    span = new mapkit.CoordinateSpan(0.0125, 0.0125),
    region = new mapkit.CoordinateRegion(center, span);

    var colorScheme 
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        colorScheme = mapkit.Map.ColorSchemes.Dark
    } else {
        colorScheme = mapkit.Map.ColorSchemes.Light
    }
    document.getElementById("map").innerHTML = "";
    let map = new mapkit.Map("map", {
        region: region,
        showsCompass: mapkit.FeatureVisibility.Hidden,
        showsZoomControl: false,
        showsMapTypeControl: false, 
        colorScheme: colorScheme 
    });
    
    const annotation = new mapkit.MarkerAnnotation(center, {
        title: title,
        subtitle: address,
        //glyphText: "🎭",
        color: "#FF5B40",
        displayPriority: 1000
    });
    map.addAnnotation(annotation);
}
</script>