# config.yml

backend:
  name: git-gateway
  branch: master
  repo: melvitax/showhacker.com 
media_folder: 'assets/uploads'
collections:
  - label: "Shows"
    label_singular: Show
    name: "shows"
    folder: "_data/shows"
    format: yml
    create: true
    identifier_field: title
    fields: 
      - {label: Title, name: title, widget: string}
      - {label: Poster, name: poster, widget: image}
      - {label: Description, name: description, widget: string}
      - label: Theater
        name: theater
        required: false
        widget: relation
        collection: theaters
        searchFields: ["title"]
        displayFields: ["title"]
        valueField: "title"
      - {label: Preview, name: preview, widget: date, format: "YYYY-MM-DD", default: ""}
      - {label: Opening, name: opening, widget: date, format: "YYYY-MM-DD", default: ""}
      - {label: Closing, name: closing, widget: date, format: "YYYY-MM-DD", default: "", required: false}
      - {label: Tony Award, name: tonyaward, widget: boolean, default: false}
      - {label: Critic's Pick, name: criticspick, widget: boolean, default: false}
      - {label: Trailer, name: trailer, widget: string, required: false}
      - {label: Website, name: website, widget: string, required: false}
      - label: Tickets
        label_singular: Ticket
        name: tickets
        required: false
        widget: list
        fields:
          - {label: Title, name: title, widget: string}
          - label: Type 
            name: type
            widget: "select"
            options: 
              - { label: "Access Roundabout", value: "access" }
              - { label: "Digital Lottery", value: "digitalLottery" }
              - { label: "Digital Rush", value: "digitalRush" }
              - { label: "Lictix", value: "linctix" }
              - { label: "Lottery", value: "lottery" }
              - { label: "Military", value: "military" }
              - { label: "Pink Shirt", value: "pink" }
              - { label: "Regular Tickets", value: "regular" }
              - { label: "Rush Tickets", value: "rush" }
              - { label: "NYC Schools", value: "schools" }
              - { label: "Standing Room", value: "standing" }
              - { label: "Student Discount", value: "student" }
              - { label: "Student Rush", value: "studentRush" }
              - { label: "Thirty", value: "thirty" }
              - { label: "Thirty Under 35", value: "thirtyUnder35" }
              - { label: "Thirty Under", value: "thirtyUnder" }
          - {label: URL or Info, name: info, widget: string}
  - label: Theaters
    label_singular: Theater
    name: "theaters"
    folder: "_data/theaters"
    format: yml
    create: true
    identifier_field: title
    fields:
      - {label: "Name", name: "title", widget: string}
      - {label: "Address", name: "address", widget: string}
  - label: Access Tickets
    label_singular: Access Ticket
    name: "access"
    folder: "_data/access"
    format: yml
    create: true
    fields:
      - {label: Title, name: title, widget: string}
      - label: "Type"
        name: "type"
        widget: "select"
        options: 
          - { label: "Rush", value: "rush" }
          - { label: "Student Rush", value: "studentRush" }
          - { label: "Hiptix", value: "hiptix" }
          - { label: "Hiptix High", value: "hiptixHigh" }
          - { label: "Access 10", value: "access10" }
          - { label: "Blue Star", value: "blueStar" }
      - {label: URL or Info, name: info, widget: string}