---
layout: compress
---

<!DOCTYPE html>
	<html lang="en">
		{% include head.html %}
		<body>
			<header class="header">
				<div class="jumbotron text-center m-0 p-0" style="background: url('../assets/joe-yates-165101-unsplash.jpg') center center/cover no-repeat;">
					<div class="container py-5 px-3 mw-100" style="background-color: rgba(0, 0, 0, 0.7);">
						<h1 class="display-4 text-light">{{site.title}}</h1>
						<p class="lead text-muted">Lifehacking broadway prices. Bringing the arts to the people.</p>
					</div>
				</div>
			</header>
			{{ content }}
			{% include footer.html %}
			{% include scripts.html %}
		</body>
	</html>
