---
layout: compress
---

<!DOCTYPE html>
	<html lang="en">
		{% include head.html %}
		<body>
			<header class="header">
				<div class="jumbotron text-center m-0 p-0" >
					<div class="container pt-3 px-3 mw-100" >
						<h1 class="display-4 font-weight-bold site-title">{{site.title}}
						<span class="fav-filter-button float-right" style="display: inline-block; vertical-align: middle; margin-left: 10px;  width: 40px; height: 40px;">&nbsp;</span>
					</h1>
					</div>
				</div>
			</header>
			{{ content }}
			{% include footer.html %}
			{% include scripts.html %}
		</body>
	</html>
