---
layout: default
---
<article>
	<div class="pb-5 main-content">

		<div class="container">

<div class="row row-cols-2">

	<div class="col-12 pb-4">
        <h1 class="show-title">{{ page.title }}</h1>
	</div>
	
	<div class="col-12 col-md-4 col-lg-3" >
        <div class="card mb-3 shadow-sm m-5 m-md-0">
            <!-- Poster -->
            {% if page.poster and page.poster != blank and page.poster != ""  %}
            <img class="card-img-top w-100 h-100 p-0" src="/{{ page.collection }}/images/{{ page.poster }}" width="230" height="355" alt="{{page.title}}" />
            {% else %}
            <img class="card-img-top w-100 h-100" src="/images/default.jpg" width="230" height="355" alt="{{page.title}}" />	
            {% endif %}

            <!-- Tickets -->
            <div class="tickets list-group list-group-flush w-100 p-0" style="z-index:0">
                {% for ticket in page.tickets %}
                    {% if ticket.type == "broadway_access" %}
                        <a class="list-group-item list-group-item-action pe-5" style="background-image: url(/images/icon-{{ticket.type}}.svg)" data-bs-toggle="collapse" href="#ticketAccess" role="button" aria-expanded="false" aria-controls="ticketAccess">{{ticket.title}}</a>
                        <div class="collapse multi-collapse" id="ticketAccess">
                            {% assign access_folder = site.data[page.collection].access | sort %}
                            {% for access_hash in access_folder %}
                                {% assign accessItem = access_hash[1] %} 
                                {% if accessItem.info contains "http" %}
                                    <a class="list-group-item list-group-item-action pe-5" href="{{accessItem.info}}" target="_blank">{% include icons/icon-{{accessItem.type}}.svg %} {{accessItem.title}}</a>
                                {% else %}
                                    <a tabindex="0" class="btn list-group-item list-group-item-action pe-5" role="button" data-bs-oggle="popover" title="{{accessItem.title}}" data-bs-content="{{accessItem.info}}">{% include icons/icon-{{accessItem.type}}.svg %} {{accessItem.title}}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% elsif ticket.info contains "http" %}
                        <a class="list-group-item list-group-item-action pe-5 {% if ticket.highlight == true %}list-group-item-highlighted {% endif %}" href="{{ticket.info}}" target="_blank">{% include icons/icon-{{ticket.type}}.svg %} {{ticket.title}}</a>
                    {% else %}
                        <a tabindex="0" class="btn list-group-item list-group-item-action pe-5" role="button" data-bs-toggle="popover" title="{{ticket.title}}" data-bs-content="{{ticket.info}}">{% include icons/icon-{{ticket.type}}.svg %} {{ticket.title}}</a>
                    {% endif %}
                {% endfor %}
            </div>

            {% if page.website %}
            <!-- Website -->
            <div class="py-2 p-3"><a href="{{page.website}}" target="_blank">{{ page.website | remove:'http://' | remove:'https://' | remove:'www.' | split:'/' | first }}</a></div>
            {% endif %}
        
        </div>
	</div>
	
	<div class="col-12 col-md-8 col-lg-9" >

        <!-- Description -->
        <h3 class="text-muted pt-0 pb-2">Synopsis</h3>
        <div>{{page.description}}</div>
        
        <!-- Dates -->
        <h3 class="text-muted pt-4 pb-2">Dates</h3>
		{% assign timeZone = " 00:00:00 -0500" %}
		{% capture previewDate %}{{page.preview}} 00:00:00 -0500{% endcapture %}
		{% capture openingDate %}{{page.opening}} 00:00:00 -0500{% endcapture %}
        {% capture returnDate %}{% if page.returns %}{{page.returns}} 00:00:00 -0500{% endif %}{% endcapture %}
        {% capture closingDate %}{% if page.closing %}{{page.closing}} 00:00:00 -0500{% endif %}{% endcapture %}

        <div >
            <span class="badge bg-success py-2 px-4 font-weight-normal" style="line-height: 1.2em;">
                Previews<br />{{previewDate | date: "%b %-d, %Y"}}
            </span>
    
            <span class="badge bg-success py-2 px-4 font-weight-normal" style="line-height: 1.2em;">
                Opening<br />{{openingDate | date: "%b %-d, %Y"}}
            </span>

            {% if page.returns and page.returns != blank and page.returns != "" %}
                <span class="badge bg-success py-2 px-4 font-weight-normal" style="line-height: 1.2em;">
                    Returns<br /> {{returnDate | date: "%b %-d, %Y"}}
                </span>
            {% endif %}
    
            {% if page.closing and page.closing != blank and page.closing != "" %}
                <span class="badge bg-danger py-2 px-4 font-weight-normal" style="line-height: 1.2em;">
                    Closing<br /> {{closingDate | date: "%b %-d, %Y"}}
                </span>
            {% endif %}
        </div>

        <!-- Showtimes -->
        {% assign showtimesData = site.data[page.collection].schedule.result.extractorData.data[0].group %} 
        {% if showtimesData %}
            {% for showtimes in showtimesData %}
                {% if page.title == showtimes.show[0].text %}
                    <h3 class="text-muted pt-4 pb-2">Showtimes</h3>
                    <table class="showtimes table table-sm">
                        <thead>
                            <tr>
                            <th scope="col">sun</th><th scope="col">mon</th><th scope="col">tue</th><th scope="col">wed</th><th scope="col">thu</th><th scope="col">fri</th><th scope="col">sat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>{{showtimes.sun[0].text | replace: ', ', '<br />' }}</td>
                            <td>{{showtimes.mon[0].text | replace: ', ', '<br />' }}</td>
                            <td>{{showtimes.tue[0].text | replace: ', ', '<br />' }}</td>
                            <td>{{showtimes.wed[0].text | replace: ', ', '<br />' }}</td>
                            <td>{{showtimes.thu[0].text | replace: ', ', '<br />' }}</td>
                            <td>{{showtimes.fri[0].text | replace: ', ', '<br />' }}</td>
                            <td>{{showtimes.sat[0].text | replace: ', ', '<br />' }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% break %}
                {% endif %}
            {% endfor %}
        {% endif %}
        
        <!-- Trailer -->
        {% if page.trailer %}
        <h3 class="text-muted pt-4 pb-2">Trailer</h3>
        <div class="modal-video w-100 border border-secondary" style="overflow: hidden; height: 0; padding-top: 56.25%; position: relative;">
            {% if page.trailer contains "youtube.com" %}
                {% assign trailer = page.trailer | split: "v=" %}
                {% assign videoID = trailer[1] %}
                {% assign src = 'https://www.youtube.com/embed/' | append: videoID | append: '?showinfo=0&modestbranding=0&color=white&autoplay=0' %}
                <iframe width="560" height="315" src="{{src}}" class="js-player w-100 h-100" style="border: 0; left: 0; position: absolute; top: 0;"></iframe>
            {% elsif page.trailer contains "vimeo.com" %}
            <iframe width="560" height="315" src="{{page.trailer}}" class="js-player w-100 h-100" style="border: 0; left: 0; position: absolute; top: 0;"></iframe>
            {% endif %}
        </div>
        {% endif %}

        <!-- Theater -->
		{% assign timeZone = " 00:00:00 -0500" %}
		{% for theater_hash in site.data[page.collection].theaters %}
			{% assign theater = theater_hash[1] %}
            {% if theater.title == page.theater %}
            <h3 class="text-muted pt-4 pb-2">Theater</h3>
            <div id="map"></div>
            <div><strong>{{ theater.title }}</strong></div>
            <div>{{ theater.address }}</div>
            {% include mapkit.html theater=theater %}
			{% endif %}
		{% endfor %}
        
	</div>
</div>
		</div>
	</div>
</article>