---
layout: default
---

<main class="hide">
	
	<div class="pb-5 main-content">

		<div class="container">

			<!-- Current Shows -->
			{% assign timeZone = site.data[page.region].timezone.offset %}

			{% assign today = 'now' | date: '%Y%m%d'%}

			{%- comment -%}
			• group by date with format YYYYMMDD so we can filter dates and sort
			• sort and flatten groups into array with nested array
			{%- endcomment -%}
			{% assign nowplaying = site[page.region] | group_by_exp: "item",
			"item.preview | date: '%Y%m%d'" | where_exp: "item",
			"item.name <= today" | sort: 'name' | map: 'items' %}
			<h3 class="pt-5 m-0">Now Playing</h3>
			<div class="row nowplaying">
			{% for item in nowplaying %}
				{% for show in item %}
				<div class="col col-6 col-md-3 col-xl-2 pt-4" >
					{% include showcard.html show=show region=page.region featured=true %}
				</div>
				{% endfor %}
			{% endfor %} 
			</div>

			{%- comment -%}
			• group by date with format YYYYMMDD so we can filter dates and sort
			• sort and flatten groups into array with nested array
			• group again but this time by month
			{%- endcomment -%}
			{% assign upcoming = site[page.region] | group_by_exp: "item",
			"item.preview | date: '%Y%m%d'" | where_exp: "item",
			"item.name > today" | sort: 'name' | map: 'items' | group_by_exp: "item",
			"item[0].preview | date: '%B %Y'" %}
			{% for item in upcoming %}
				<h3 class="pt-5 m-0">{{ item.name }}</h3>
				<div class="row upcoming" id="upcoming_{{ item.preview | date: '%Y%m' }}">
				{% for group in item.items %}
					{% for show in group %}
					<div class="col col-6 col-sm-4 col-md-3 col-lg-2 pt-4">
						{% include showcard.html show=show region=page.region %}
					</div>
					{% endfor %} 
				{% endfor %} 
				</div>
			{% endfor %} 

			{%- comment -%}
			• filter dates by nil and sort
			{%- endcomment -%}
			{% assign announced = site[page.region] | where_exp: "item", "item.preview == nil" | sort: 'name' %}
			{% if announced %}
			<h3 class="pt-5 m-0">Announced</h3>
			<div class="row announced">
				{% for show in announced %}
				<div class="col col-6 col-sm-4 col-md-3 col-lg-2 pt-4">
					{% include showcard.html show=show region=page.region %}
				</div>
				{% endfor %} 
			</div>
			{% endif %}
		</div>
	</div>

	<!-- Modal Window -->
	<div class="modal fade" id="modal" role="dialog" >
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			
			</div>
		</div>
	</div>
</main>
