// Styles

:root {
  color-scheme: light dark;
}

body {
  background-color: #f8f9fa;
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: #000;
    color: white;
    height: 100%;
  }
  
  header h1 {
    color: white !important;
  }
  header p {
    color: rgb(221, 221, 221) !important;
  }
  .card {
    background-color: #343a40;
    border: 1px solid #6c757d;
  }
  .card svg {
    fill: #fff;
  }
  .list-group-item {
    background-color: #1f2326;
    border: 1px solid #6c757d;
    color: #a7b7c5 !important;
  }
  .list-group-item-action {
    background-color: #343a40;
    color: white !important;
  }
  .filter-current .list-group-date-callout {
    background-color: #1b1e20 !important;
    color: white !important;
  }
  a.list-group-item-action:hover, a.list-group-item-action:focus {
    background-color: #6c757d;
    color: white !important;
  }
  .popover {
    background-color: #dee4e8;
    color: #000 !important;
  }
  .popover-header {
    background-color: #ecf3f7;
    color: #000 !important;
    border-bottom: 1px solid #c0c5c9;
  }
  .bs-popover-right > .arrow::after {
    border-right-color: #dee4e8;
  }
  .modal-content {
    background-color: #292f33;
    color: #fff !important;
  }
  .modal-header {
    border-bottom: 1px solid #0c0e0f;
  }
  .modal-content table {
    color: #fff;
  }
  .close {
    color: #fff;
    text-shadow: none;
  }
}
header h1 {
  font-size: 12vw;
}
.fav-filter-button {
  background-image: url('/assets/heart-all-regular.svg');
  background-size: 40px 40px;
}
.fav-filter-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.fav-filter-button.isActive {
  background-image: url('/assets/heart-all-solid.svg');
}
.fav-button {
  background-image: url('/assets/heart-regular.svg');
  background-size: 50px 50px;
  transition: scale .2s ease-in-out; 
}
.fav-button:hover {
  cursor: pointer;
  transform: translateZ(0px) scale(1.15);
}
.isFavorite .fav-button {
  background-image: url('/assets/heart-solid.svg');
}
.list-group-item.list-group-item-highlighted svg {
  color: rgb(255, 72, 0);
}
.list-group-item-action.last {
  border-radius: 0px 0px .25rem .25rem !important;
}
.list-group-date-callout {
  border-radius: 0px 0px .25rem .25rem !important;
}
.filter-current .list-group-date-callout {
  background-color: #f3f8fb;
}
.list-group-date-callout.ending {
  background-color: rgb(255, 72, 0) !important;
  color: white !important;
}
.list-group-date-callout.comingsoon {
  background-color: rgb(58, 184, 0) !important;
  color: white !important;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { 
  transform: translateZ(0px) scale(1.05);
  box-shadow: 0 10px 50px rgba(0, 0, 0, .5);
  cursor: pointer;
}
.icon-play {
  display: none;
}
.list-group-item svg {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%)
}
.poster-link:hover .icon-play {
    display: block;
    position: absolute;
    width: 70%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.list-group-item-action  {
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 90% center
}
.list-group-item-action:hover{
  color: black;
  background-color: rgb(231, 244, 248);
  cursor: pointer;
}

/***************
 *  Effects   *
****************/
.no-observer .animate {
  opacity: 1;
  transform: none;
}
.animate {
  opacity: 0;
  transition: opacity 1.6s, transform 0.6s ease-out;
  transform: translateY(10px);
}
.animate.is-active {
  opacity: 1;
  transform: none;
}