// Styles

body {
  background: $background-color;
  color: $text-color;
  font-family: $font-sans;
}

/* Header: Initially contains site name, but gets changed to today's date via JS. Also contains an UP button to scroll up. */
.header {
  text-align: center;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 2;
  vertical-align: middle;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  top:150px * -1;
  transition: top 0.0s ease-in-out;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.02) 98%, rgba(0,0,0,0) 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.01) 98%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.01) 98%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.01) 98%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 );
}
.header_is-down {
  top: 0;
  transition: top 0.55s ease-in-out;
}
.header__title:hover, .header__title:active {
  color: $light-grey;
  cursor: pointer;
}

/* Site content */

.expandable-rows {
  max-width: 960px;
  margin: 0 auto;
}

/* Each Show Row */
.row {
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}
.row__background-image {
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -25px;
  right: -25px;
  bottom: -25px;
  left: -25px;
  z-index: -1;
}
.row:target .row__background-image {
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
}
.row_closing {
  border-left: 5px solid red;
}
.row_upcoming {
  border-left: 5px solid green;
}
.row_expired {
  display: none;
}

/* row_content darkens or brightens background image  */
.row__content {
  background-color: rgba(0, 0, 0, 0.4);
}
.row:target .row__content {
  background-color: rgba(180, 180, 180, 0.7);
  border-top: 6px solid white;
  border-bottom: 6px solid white;
}
/* Collapsed view of the row  */
.collapsed-content {
	text-transform: uppercase;
  padding: 16px;
  color: #fff;
  text-shadow: 0px 0px 1px black;
  cursor: pointer;
}
.row:target .collapsed-content {
  padding-bottom: 0;
}
.row-title {
  margin-bottom: 0;
  font-size: 2em
}
@media (min-width: $screen-xs-min) { .row-title {
  margin-bottom: 0;
  font-size: 3.2em;
} }
.callout {
  font-size: 1em;
  line-height: 1.2em;
  padding: 0.5em 0;
}
@media (min-width: $screen-xs-min) { .callout {
  font-size: 1.6em;
} }
.todays-performance {
  float: right;
  padding: 0 0 0 6px;
  font-weight: 300;
}
.todays-performance_none {
  display: none
}

// Tickets summary
.tickets {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.ticket {
  width: auto;

}
@media (min-width: $screen-xs-min) { .ticket {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin: 0 5px ;
} }
.row:target .ticket {
  margin: 0.5em 5px;
  color: black;
}
@media (min-width: $screen-xs-min) { .row:target .ticket {
  width: 40%;
} }
.ticket__title {
  font-weight: 500;
}
.ticket__description {
  display: none;
  text-transform: none;
  line-height: 1.2em;
}
.row:target .ticket__description {
  display: block;
}
.ticket__button {
  text-transform: lowercase;
  display: none;
}
.row:target .ticket__button {
  display: inline-block;
  padding-left: 12px;
}


/* Row Content is hidden when not expanded */
.expanded-content {
  max-height: 0;
  overflow: hidden;
  color: black;
}
.row:target .expanded-content  {
  max-height: 3600px;
  transition: max-height 0.75s ease-in-out;
  padding: 16px;
}
.row:target a:link, .row:target a:visited {
  color: $dark-blue;
}
/* Poster has an overlay for the video play button */
aside { }
@media (min-width: $screen-xs-min) {  aside {
  float: left;
  margin-right: 20px;
  max-width: 230px;
} }
.poster {
  position: relative;
  text-align: center;
}
.poster img {
  width: 230px;
  height: 355px;

  box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}
@media (min-width: $screen-xs-min) {  .poster img  {

}}

// Content holds all info for show
.content {
  margin-left: 0;
}
@media (min-width: $screen-xs-min) { .content {
  margin-left: 250px;
}}

.synopsis {
 font-size: 1.6em;
 line-height: 1.4em;
 font-weight: 300;
 padding: 10px 0;
 border-top: 1px solid $dark-grey;
 border-bottom: 1px solid $dark-grey;
}

.meta-list {
  margin: 0;
  padding: 10px 0 ;
  list-style: none;
  border-bottom: 1px solid $dark-grey;
}
.meta {
  white-space: nowrap;
}

// website
.website {
  padding: 0.5em 0 ;
  text-align: center;
  font-weight: bold;
}

// Theater name and address
.theater {
  font-weight: 300;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  & a:link, & a:visited {
    font-weight: 600
  }
  & a:hover, & a:active {
  }
}
.theater strong {
  font-size: 1.4em;
}


/* Accolades */
.accolades_none {
  display: none
}
/* Timetable */
.timetable {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  color: black;
  border-top: 1px solid $dark-grey;
}
.day {
  display: inline-block;
  zoom: 1;
  *display: inline;
  font-size: 1em;
  text-align: center;
  vertical-align: top;
  width: 100%;
  overflow: hidden;
  font-size: 0.9em;
}
@media (min-width: $screen-sm-min) { .day {
  width: 14.28%;
  font-size: 1.0em;
} }

.day__name {
  display: block;
  margin-bottom: 1em;
  font-weight: 900;
  color: white;
  margin: 0 2px;
}

@media (min-width: $screen-xs-min) { .day__name {

}}

.day__time {
  display: block;
  padding: 5px 12px;
  background-color: rgba(54, 58, 61, 0.11);
  border-radius: 5px;
}
@media (min-width: $screen-xs-min) { .day__time {
  margin: 5px 2px;
  font-weight: 600;
}}

.advisory {
  font-size: 0.8em;
  line-height: 1.2em;
  padding: 10px 0;
  font-weight: 500;
}


.player__wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(#191919, 0.95);

  &.is-open {
    display: block;
  }
}

.clearfix:after, .clearfix:before {
    content: ' ';
    display: table
}

.clearfix:after {
    clear: both
}

.intrinsic, .media--video-embed {
    height: 0;
    position: relative
}
.media--video-embed {
    width: 100%;
    z-index: 1
}
.intrinsic__element, .media--video-embed iframe, .media--video-embed video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}
.media--video-embed, .ratio--16x9 {
    padding-bottom: 56.25%
}

.player {
  margin-top: 3vh;
  position: relative;
  max-width: $column-width / 2;

    @media (min-height: 480px) {
      max-width: $column-width;
    }

  @media (min-height: 840px) {
    max-width: $column-width * 2;
  }
}

.player__loading {
  color: #fff;
  top: 0;
  margin-top: 53px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  font-family: $font-sans;
  z-index: 0;
}

.player__loading__txt {
  width: 100%;
  text-align: center;
}

.close-row {
  clear: both;
  text-align: center;
}

.button {
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease
}

.button--txt {
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 0;
    padding-right: 0
}

.button--txt:hover {
    text-decoration: none;
    opacity: .7
}

.button--invert {
    color: #fff
}

.button--invert svg {
    fill: #fff
}

.button span, .button svg {
    vertical-align: middle
}

.button svg {
    width: 50px;
    height: 50px
}

.button--close {
    margin-bottom: 18px
}

.button--material {
    font-size: 80%
}

.button--material span {
    vertical-align: middle;
    margin-top: -5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.button--material .icon-open {
    display: none
}

.button--material svg {
    width: 30px;
    height: 30px
}

@media (min-width:740px) {
    .button--material {
        font-size: 100%
    }

    .button--material span {
        margin-top: -10px
    }
    .button--material svg {
        fill: #fff
    }
}

.button--material.is-open .icon-closed {
    display: none
}

.button--material.is-open .icon-open {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.button--play {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 2
}

.button--play svg {
    font-size: 70%;
    width: 6em;
    height: 6em;
    padding-left: .5em;
    border: .3em solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

@media (min-width:740px) {
    .button--play {
        font-size: 140%
    }
}

.set--left {
    float: left
}

.set--left aside, .set--left figure, .set--right {
    float: right
}

.set--center {
    margin-left: auto;
    margin-right: auto
}

.position--vert-center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

/* Footer */
.footer__content {
  text-align: center;
  color: $grey;
  margin: 0;
  padding: 1em 0;
}
